button:hover {
	color: white;
}

a {
	color: rgb(51, 51, 51);
	padding: 20px;
	font-size: 18px;
	text-decoration: none;
	border: none;
}

title {
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
}
a:hover {
	color: white;
}

.homepage {
	font-family: 'Courier New', Courier, monospace;
	font-size: 20px;
	padding-top: 10%;
}
.homepage:hover {
	color:grey;
}

.darkblue {background-color: rgb(20, 132, 211);}
.seablue {background-color: rgb(23, 146, 232);}
.skyblue {background-color: rgb(25, 156, 231);}
.middleblue {background-color: rgb(27, 164, 230);}
.lightblue {background-color: rgb(30, 180, 238);}
.verylightblue{background-color: rgb(33, 190, 253);}
/*
.row::after {
	content: "";
	clear: both;
	display: table;
}*/
.row {
	padding-top: 5%;
    padding-left: 5%;
	/*display: flex;*/
	width: 130%;
	justify-content: left;
}

.pic {
	width: 250px;
	padding-top: 20px;
	text-align: center;
	position: initial;
}

.column {
	float: left;
	/*height: 200px;
	width: 200px;*/
	padding: 5px;
	width: 60%;
	border:1px solid black;
	border-radius: 3%;
	display: flex;
}
.button {
	color: rgb(51, 51, 51);
	padding: 27px;
	font-family: "Courier New", Courier, monospace;
	font-size: 19px;
	border: none;
}
#menu {
	display: flex;
	flex-direction: row;
    justify-content: center;
}

footer {
	font-style: italic;
	font-family: monospace;
	text-align: center;
	bottom: 0;
	position: relative;
	padding-top: 2%;
	left: 0;
	width: 100%;
}
html {
	background-image: url(img/background.png);
	background-size: cover;
	height: 100%;
}

.dropdown:hover .dropdown-content {
	display: flex;
}
#push {
    display: flex;
    flex-direction: row;
	padding-left: 20%;
}
#center {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#left {
    display: flex;
    flex-direction: row;
    padding-right: 20%;
}
.dropdown-content {
	display: none;
	flex-direction: column;
	font-family: "Courier New", Courier, monospace;
	position: absolute;
	min-width: 120px;
	box-shadow: 0px 10px 10px 0px gray;
}
p {
	text-align: center;
}

.info {
	display: flex;
	border:1px solid black;
}
select {
	width: 100%;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	background-color: #f1f1f1;
  }
.basket {
	display: flex;
	flex-direction: column;
	width: 60%;
	display: flex;
	border:1px solid black;
	padding-bottom: 3%;
}

.description {
	font-family: 'Courier New', Courier, monospace;
}
#test {
	font-size: 150%;
	padding-top: 10%;
}